*{
    box-sizing:border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: rgb(206, 218, 209);
}

header,footer{
    text-align: center;
    color:rgb(2, 28, 5);
    padding: 50px;
}

header{
    font-size: larger;
    font-weight: bold;
}

#crisp, #handw, #freestone{
    display:flex;
    align-items: center;
}

div,figure{
    margin: 6rem;
}

#website{
    border-radius: 8px;
    color: darkgreen;
    text-decoration: none;
}

#website:hover{
    background-color: rgb(174, 214, 179);
}